#container{
    container-name: my card;
   
    container-type: inline-size;
    width: 100%;
 }

#formdiv{
 position: static;
 right: 600px;
 width: 600px;
 border: 1px solid;
 }
#posformdiv{
 position: absolute; 
 right: 400px;
 width: 500px;
 top: 20%;
 left: 40%;
 }
 #card{
    padding: 3rem;
    color: white;
    background-color: violet;
 }
 @container mycard (min-width:900px) {
    #card{  
        background-color: rgb(38, 0, 255);
     }   

 }